.Icon-Steam {
  position: absolute;
  display: flex;
  margin-left: 40px;
  margin-top: 40px;
  height: 100px;
}
.Icon-Terraria {
  border-radius: 50px;
  opacity: 80%;
  height: 250px;
  align-self: center;
  margin-top: 40px;
}

.currentPage-Steam {
  display: flex;
  height: 1000px;
  width: 100%;
  border: 4px solid white;
  position: relative;
  justify-content: center;
}
.contentPage-Steam {
  display: flex;
  flex-direction: column;
  border: 4px solid white;
  min-width: 1600px;
  background-color: antiquewhite;
  position: relative;
}
