.Header {
  padding-bottom: 30px;
  height: 450px;
  min-width: 100%;
  text-align: center;
  background-image: url("../component/asset/night.png");
  position: absolute;
  top: 0px;
  border: 10px solid white;
  opacity: 0.8;
}
.title {
  display: flex;
  position: relative;
  left: 300px;
}
.PersonInfo {
  padding-top: 100px;
  padding-bottom: 30px;
  width: 1600px;
  font-size: 30px;
  text-align: center;
  margin-top: 400px;
}
.Skills {
  width: 1600px;

  font-size: 30px;

  padding-top: 30px;
  padding-bottom: 30px;
}

.Experience {
  width: 1600px;

  font-size: 30px;

  padding-top: 30px;
  padding-bottom: 30px;
}
.Education {
  width: 1600px;

  font-size: 30px;

  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}
.Language {
  width: 1600px;

  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.Skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.Content {
  border-left: 3px solid white;
  padding-left: 60px;
}
.Title {
  margin-top: 60px;
  margin-left: 90px;
  font-size: 60px;
  margin-right: 30px;
  padding-right: 200px;
}
.Contact {
  min-width: 100%;

  font-size: 30px;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  opacity: 60%;
  background-color: white;
}
.ins:hover {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-evenly;
}
